body
{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}
.header
{
    display: flex;
    background-color: #1F2937;
    padding: 16px 200px;
}

.content-one
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 200px;
    background-color: #1F2937;
}
.content-one-left
{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px;

}
.content-two, .content-four
{
    background-color: white;
}
.content-two
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 250px;
}
.deets
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.deets p
{
    color: #1F2937;
    width: 150px;
    margin: 8px;
}
.image-block
{
    display: flex;
    flex-direction: column;
    margin: 24px;
}
.content-three
{   display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px;
    
}
div.quote
{
    color: #1F2937;
}
.quote-box
{
    display: flex;
    flex-direction: column;
    width: 800px;
}
.content-four
{
    margin: 100px 200px;
}
button
{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border-style: solid;
}
button.b1
{
    border-color: none;
    font-size: 18px;
    padding: 8px 32px;
}
button.b2
{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    border-color: #F9FAF8;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    padding: 8px 32px;
    font-size: 18px;
}

.action-box
{
    width: 1000px;
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    margin: auto ;
    border-radius: 10px;
    padding: 50px 100px;    
}
.footer
{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 50px ;
    flex: 0 1 0;
    color: #F9FAF8;
}
.head-img
{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: auto;   
    margin-left: 32px;
    filter: drop-shadow(10px 10px 1px #000000)
}
img.body-img
{
    width: 150px;
    height: 150px;
    border-width: 5px;
    border-radius: 10px;
    border: solid #3882F6;
}
a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
    padding: 16px;
}
p, .small-text
{
    font-size: 18px;
    color: #E5E7EB;
}
.header-logo
{
margin-right: auto;
font-size: 24px;
color: #F9FAF8;
font-weight: bolder;
}
.big-text
{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
div.content-two div.title
{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
#max
{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}
.quote
{
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
}
.author
{
    margin-left: auto;
    font-size: 24px;
    font-weight: bolder;
}
